<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <header class="container">
      <p> Gate Preview Request </P>
      <p> <img> <img> </P>
    </header>
    <article>
      <p> Reviwer </p>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th> <input type="checkbox"/> </th>
            <th> Name </th>
            <th> Dept </th>
          </tr>
        </thead>
      </table>
    </article>
    <article>
      <p> CC </p>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th> <input type="checkbox"/> </th>
            <th> Name </th>
            <th> Dept </th>
          </tr>
        </thead>
      </table>
    </article>
    <article>
      <p> Comment </p>
      <textarea></textarea>
    </article>
    <article>
      <table class="table table-bordered table-hover">
        <tr>
          <td> Preview Due Date </td>
          <td> <input type="date"/> </td>
          <td> Review Date </td>
          <td> <input type="date"/> </td>
        </tr>
        <tr>
          <td> File </td>
          <td colspan="2"> ... </td>
          <td> <input type="button"/> </td>
        </tr>
      </table>
    </article>
  </div>
</body>
