<!DOCTYPE HTML>
<head>
  <style>
  </style>

  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
  </script>
  <title>
    This is page title.
  </title>
</head>
<body>
  <header class="w3-container w3-teal">
    <h1>
      This is main page.
    </h1>
    <p>
      Header adopted "w3-container w3-teal".
    </P>
  </header>
  <nav  class="w3-panel w3-left-bar w3-sand w3-xxlarge w3-serif">
    <h4>
      This is nav.
    </h4>
    <p>
      Nav adopted "w3-panel".
    </P>
    <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
      <p><i>"Make it as simple as possible, but not simpler."</i></p>
    </div>
  </nav>
  <section class="w3-container">
    <div class="w3-panel w3-leftbar">
      <h4>
        This is section.
      </h4>
      <p>
        Section adopted "w3-container".
      </P>
    </div>
  </section>
  <article class="w3-container">
    <h4>
      This is article.
    </h4>
    <p>
      Article adopted "w3-container".
    </P>
    This is article.
  </article>
  <aside class="w3-container">
    <h4>
      This is aside.
    </h4>
    <p>
      Aside adopted "w3-container w3-teal".
    </P>
  </aside>
  <footer class="w3-container w3-teal">
    <h4>
      This is footer.
    </h4>
    <p>
      Footer adopted "w3-container w3-teal".
    </P>
  </footer>
</body>
