<!DOCTYPE HTML>
<html>
<head>

  <% include partials/head.ejs %>

  <script>
    function itemSelected( event, data ){
      var xhr = new XMLHttpRequest();
      xhr.open( "GET", "/overview_partials" );

      xhr.onreadystatechange = function(){
        if(xhr.readyState === 4 && xhr.status === 200){
            //document.getElementById( "partials" ).innerHTML = xhr.responseText;
        }
      }

      xhr.send();
    }

    $(function(){ $('#tree').treeview({
        data: JSON.parse( '<%- JSON.stringify( data ) %>' ),         // data is not optional
        levels: 1,
        checkedIcon: 'glyphicon-ok',
        onNodeSelected: function(event, data) {

          itemSelected( event, data );

        }
      });
    });

    var chart = AmCharts.makeChart( "chartdiv", JSON.parse( '<%- JSON.stringify( chartOptions ) %>' ) );

  </script>

  <style>
    .container-fluid {
      padding: 60px 50px;
    }

    .row > p {
      padding-bottom: 60px;
    }

    #tree-region {
      padding: 130px 50px;
    }

    #chartdiv {
      width: 70%;
      height: 250px;
    }

    @media screen and ( max-width:768px ) {
      .container-fluid {
        padding: 130px 15px 15px 15px;
      }
      .row > p {
        padding-bottom: 10px;
      }
      #tree-region {
        padding: 10px;
      }
      #chartdiv {
        width: 100%;
        height: 250px;
      }
    }
  </style>

</head>
<body>

  <header>
    <% include partials/header_main.ejs %>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div id="tree-region" class="col-sm-3">
        <div id="tree"></div>
      </div>
      <div id="partials" class="col-sm-9">
        <div class="containder-fluid">

          <!-- Status -->
          <div class="row">
            <div class="container-fluid">
              <h2><a href="/performanceView/id_01">Status</a></h2>
              <hr>
              <div class="col-sm-9" id="chartdiv"></div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body" style="border-bottom: 1px solid lightgrey">High : 7 / 10 </div>
                  <div class="panel-body" style="border-bottom: 1px solid lightgrey">Average : 5.5 / 10 </div>
                  <div class="panel-body" style="border-bottom: 1px solid lightgrey">Row : 2 / 10 </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Description -->
          <div class="row">
            <div class="container-fluid">
              <h2>Description</h2>
              <hr>
              <ul>
                <li>I want to develop my skills from Algorithms and Datastructures. </li>
                <li>As these have concepts of computer architectural philosophy,</li>
                <li>I learn and study algorithm and datastruct as my first step.</li>
              </ul>
            </div>
          </div>

          <!-- Histroy -->
          <div class="row">
            <div class="container-fluid">
              <h2>History</h2>
              <hr>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Date Time</th>
                      <th>Title</th>
                      <th>Type</th>
                      <th>Change Item</th>
                      <th>Content</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> 2017-03-28</td>
                      <td> Project Intializing</td>
                      <td> Improvement </td>
                      <td> JavaScript 5 -> 8 </td>
                      <td> Study JavaScript using w3schools and make git project</td>
                    </tr>
                    <tr>
                      <td> 2017-03-28</td>
                      <td> Project Intializing</td>
                      <td> Mantainance </td>
                      <td> - </td>
                      <td> Algorithm Exercise </td>
                    </tr>
                    <tr>
                      <td> 2017-03-28</td>
                      <td> Project Intializing</td>
                      <td> Maintainance </td>
                      <td> - </td>
                      <td> Web Application Architecture Drwaing Exercise </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer>
    <% include partials/footer.ejs %>
  </footer>

</body>
</html>
